<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
    <title>Summarizer</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">Summarizer</a>
        </div>
      </nav>
    <h1 class="heading">Summarize your data using these Multiple Options</h1>
    <div class="cards-list">
        <div class="card 1">
          <div class="card_image"><img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
          <div class="card_title title-white">
            <a href="/gs/text" class="btn btn-secondary" role="button">Text Input</a>
            <!-- <p>Text Input</p> -->
          </div>
        </div>
        
          <div class="card 2">
          <div class="card_image">
            <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
            </div>
          <div class="card_title title-white">
            <a href="/gs/textuploader" class="btn btn-secondary" role="button">Text File</a>
            <!-- <p>Text File</p> -->
          </div>
        </div>
        
        <div class="card 3">
          <div class="card_image">
            <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
          </div>
          <div class="card_title">
            <a href="#" class="btn btn-secondary" role="button">Speech Input</a>
            <!-- <p>Speech Input</p> -->
          </div>
        </div>
          
          <div class="card 4">
          <div class="card_image">
            <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
            </div>
          <div class="card_title title-black">
            <a href="/gs/voiceuploader" class="btn btn-secondary" role="button">Voice File</a>
            <!-- <p>Voice File</p> -->
          </div>
          </div>
        
        </div>
</body>
</html>