<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../public/home.css"> -->
    <!-- <link rel="stylesheet" href="textInput.css"></link> -->
    <title>Summarizer</title>
</head>
<style>
    #data {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 370px;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .outer {
        margin-top: 30px;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Summarizer</a>
        </div>
    </nav>
    <div class="outer">
        <h2>Enter Text Data to be summarized-</h2>
        <form>

            <textarea id="data" name="subject" placeholder="Write something.."></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>

</html>