<form id="uploadForm" enctype="multipart/form-data" action="/gs/api/voicefile" method="post">
    <input type="file" name="voicefile"/>
    <input type="submit" value="Upload mp4 File" name="submit">
</form>