<form id="uploadForm" enctype="multipart/form-data" action="/gs/api/txtfile" method="post">
  <input type="file" name="textfile"/>
  <input type="submit" value="Upload Text Document" name="submit">
</form>